<%= form_for @room do |f| %>
  <div class='field'>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>  
  </div>

  <div class='field'>
    <%= f.label :topic, "Topic" %>
    <%= f.text_field :topic %>  
  </div>

  <div class='button-wrapper'>
    <%= f.submit 'Create Room' %>
  </div>
<% end %>