<script type="text/javascript">
  window.PUSHER_KEY = "<%= Pusher.key %>";
  window.RoomData = <%= @room.to_json.html_safe %>;
</script>

<div id='connection-alert' class="alert alert-info">
  <p>Connecting to room...</p>
  <div class="progress progress-info progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span9">
    <div class="mini-hero-unit">
      <h1><%= @room.name %></h1>
      <p>This is the rooms topic</p>
    </div>

    <div id='chat' class='row-fluid'>
      <div class='chat-message'>
        <div class='username span2'>
          UserName
        </div>
        <div class='data span9'>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, libero a aliquam euismod, magna nibh molestie erat, nec volutpat neque tellus in velit. Nam dui elit, vulputate eget vulputate et, fringilla vel mauris. Quisque lacinia orci sed felis congue in tempor felis accumsan. Nullam non mauris sapien, aliquet dictum purus. Quisque nec mi ligula, at lacinia justo. Sed felis nulla, accumsan eget lacinia et, volutpat sit amet lorem. Proin fermentum est vel leo sagittis facilisis. Quisque placerat est ut nisi euismod sit amet vestibulum erat pretium. Maecenas vel nulla ac urna semper tempor eget at ligula.<p>
        </div>
      </div>

      <div class='chat-message'>
        <div class='username span2'>
          UserName
        </div>
        <div class='data span9'>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, libero a aliquam euismod, magna nibh molestie erat, nec volutpat neque tellus in velit. Nam dui elit, vulputate eget vulputate et, fringilla vel mauris. Quisque lacinia orci sed felis congue in tempor felis accumsan. Nullam non mauris sapien, aliquet dictum purus. Quisque nec mi ligula, at lacinia justo. Sed felis nulla, accumsan eget lacinia et, volutpat sit amet lorem. Proin fermentum est vel leo sagittis facilisis. Quisque placerat est ut nisi euismod sit amet vestibulum erat pretium. Maecenas vel nulla ac urna semper tempor eget at ligula.<p>
        </div>
      </div>

      <div class='chat-message'>
        <div class='username span2'>
          UserName
        </div>
        <div class='data span9'>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, libero a aliquam euismod, magna nibh molestie erat, nec volutpat neque tellus in velit. Nam dui elit, vulputate eget vulputate et, fringilla vel mauris. Quisque lacinia orci sed felis congue in tempor felis accumsan. Nullam non mauris sapien, aliquet dictum purus. Quisque nec mi ligula, at lacinia justo. Sed felis nulla, accumsan eget lacinia et, volutpat sit amet lorem. Proin fermentum est vel leo sagittis facilisis. Quisque placerat est ut nisi euismod sit amet vestibulum erat pretium. Maecenas vel nulla ac urna semper tempor eget at ligula.<p>
        </div>
      </div>
    </div>
  </div>

  <div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Who Am I?</li>
      <li><a href='#'><%= current_user.name %></a></li>
    </ul>
  </div>

    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Whos Here?</li>
      </ul>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <%= form_for [@room, Message.new], html: {id: 'chat_form', class: 'well'}, remote: true do |f| %>
    <div class='offset2'>
      <%= f.hidden_field :username, :value => current_user.name %>
      <%= f.text_area :data, id: 'input', class: 'input-xlarge span6', rows: 3, placeholder: 'Type Message...' %>
      <%= f.button 'Send', class: 'btn btn-large btn-primary' %>
    </div>
  <% end %>
</div>

<script type="text/x-handlebars-template" name="chat-message">
  <div class='username span2'>
    {{username}}
  </div>
  <div class='data span9'>
    {{data}}
  </div>
</script>

<script type="text/x-handlebars-template" name="user-list">


</script>
