<% content_for :scripts do %>
  <%= javascript_include_tag "app/index" %>
<% end %>

<script type="text/javascript">
  window.PUSHER_KEY = "<%= Pusher.key %>";
  window.PUSHER_AUTH_ENDPOINT = "<%= join_room_path @room %>";
  window.PUSHER_LEAVE_ENDPOINT = "<%= leave_room_path @room %>";
  window.CURRENT_USER_ID = "<%= current_user.id %>";
  window.RoomData = <%= @room.to_json.html_safe %>;
</script>

<div class="row-fluid">
  <div class="span9">
    <div id='room-name' class="mini-hero-unit">
      <h1><%= @room.name %></h1>
      <p><%= @room.topic %></p>
    </div>

    <div id='chat' class='row-fluid'>
    </div>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list" id='users'>
        <li class="nav-header">Whos Here?</li>
      </ul>
    </div>

    <div id='connection-alert' class="alert alert-info">
      <p>Connecting to room...</p>
      <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<div id='message-form' class='row-fluid'>
  <%= form_for [@room, Message.new], html: {id: 'chat_form', class: 'well'}, remote: true do |f| %>
    <div class='offset2 control-group'>
      <div class="error-messages hidden">
        <span id='error-message' class="label label-important"></span>
      </div>
      <%= text_area_tag :message, '', id: 'input', class: 'input-xlarge span6', rows: 3, placeholder: 'Type Message...' %>
      <%= f.button 'Send', class: 'btn btn-large btn-primary' %>
    </div>
  <% end %>
</div>

<script type="text/x-handlebars-template" data-template="default">
  <div class='username span2'>{{username}}</div>
  <div class='data span9'>{{{autolink data}}}</div>
</script>

<script type="text/x-handlebars-template" data-template="command">
  <div>{{data}}</div>
</script>

<script type="text/x-handlebars-template" data-template="image">
  <div class='username span2'>{{username}}</div>
  <div class='data span9'>{{{imglink data}}}</div>
</script>

<script type="text/x-handlebars-template" data-template="oembed">
  <div class='username span2'>{{username}}</div>
  <div class='data span9' data-url="{{data}}">
    <%= image_tag 'spinner-pacman.gif' %>
    <% 10.times do %>
      &middot;
    <% end %>
  </div>
</script>